DATABRICKS_CONFIG_PROFILE="joshuale-common"
DATABRICKS_HOST=https://dbc-564fb500-5a75.cloud.databricks.com
MLFLOW_EXPERIMENT_ID=3146878650169291
CHAT_APP_PORT=3000
CHAT_PROXY_TIMEOUT_SECONDS=300
MLFLOW_TRACKING_URI="databricks"
MLFLOW_REGISTRY_URI="databricks-uc"